SECRET_KEY=
DEBUG=
DATABASE_URL=
ALLOWED_HOSTS=

# Flutterwave Payment
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_ENCRYPTION_KEY=
FLUTTERWAVE_SECRET_HASH=

# Amadeus Flight API
AMADEUS_API_KEY=
AMADEUS_API_SECRET=

#(temporary removed))
# Booking.com API (via RapidAPI)
BOOKING_RAPIDAPI_KEY=
BOOKING_RAPIDAPI_HOST=


